@font-face {
		font-family: 'Open Sans Condensed', sans-serif;
		src: url("/fonts/OpenSansCondensed-Light.ttf");
}

@font-face {
		font-family: 'Open Sans Condensed', sans-serif;
		src: url("/fonts/OpenSansCondensed-Bold.ttf");
}

ul, li, span {
		margin: 0;
		padding: 0;
}

a {
		text-decoration: none;	
}

a:hover {
		text-decoration: none;	
}

.red {
    color: red;
}

.form-enter {
  	background-color: #f5f5f5;
  	padding-left: 30px;
  	padding-right: 30px;
  	padding-bottom: 30px;
  	padding-top: 10px;
  	border-radius: 7px;
  	margin-top: 100px;
  	border: 1px solid #cccccc;
}

.form-enter button {
		width: 100%;
		margin-top: 10px;
}

.form-enter button img {
		vertical-align: baseline;
}

.form-enter label {
		font-weight: bold;
}

.form-enter button span {
		font-size: 18px;
}

.profile-wrap img {
		vertical-align: baseline;
}

.footer {
		color: #fff;
}

.profile-wrap {
		margin-top: 10px;		
}

.select-realty-wrap {
	  margin-top: 20px;
	  font-weight: bold;
}

.select-realty-wrap .input-group-text {
		font-weight: bold;
}

.report-menu-wrap {		
		margin-bottom: 20px;
}

.report-menu-wrap .nav-item {
		background-color: #f3f3f3;
		margin-right: 10px;
		border-radius: .25rem;
}

.report-menu-wrap .nav-item:last-child {
		margin-right: 0;
}

.report-menu-wrap .nav-item a.nav-link {
		font-weight: 500;	
}

.report-wrap .table th,
.table td {
		font-size: 16px;
}

.report-wrap table {
		margin-bottom: 50px;
}

.report-wrap h3 {
		margin-bottom: 25px;
		margin-top: 35px;
}

.table .final-text {
		font-weight: bold;
}

@media screen and (max-device-width: 991px) {
	.table th,
	.table td {
		padding: 5px;
		font-size: 10px;
	}
	.report-menu-wrap .nav-item {
			margin-right: 0;
			margin-bottom: 20px;
			width: 100%;
	}

	.report-menu-wrap .nav-item:last-child {
			margin-right: 0;
	}

	.report-wrap {
		margin-top: -25px;
	}

	.select-realty-wrap .input-group-text {
			font-size: 14px;
	}
}

@media screen and (max-device-width: 1024px) {
	.form-enter button span {
			font-size: 16px;
	}
}



@media screen and (min-device-width: 320px)
							and (max-device-width: 767px) { 
	.report-wrap .table th, .table td {
	    font-size: 10px;
	}

}

@media screen and (min-device-width: 360px) 
							and (max-device-width: 767px) {

}

@media screen and (min-device-width: 480px) 
							and (max-device-width: 767px) {
		.report-wrap .table th,
		.report-wrap .table td {
			font-size: 12px;
		}
}

@media screen and (min-device-width: 576px) 
							and (max-device-width: 767px) { }

@media screen and (min-device-width: 768px) 
							and (max-device-width: 991px) and (orientation:landscape) { }

@media screen and (min-device-width: 768px) 
							and (max-device-width: 991px) and (orientation:portrait) { }

@media screen and (min-device-width: 992px) { }

@media screen and (min-device-width: 1200px) { }

